akshare
loguru
fastmcp
openai
langgraph
langchain-openai
langchain
langchain-mcp-adapters
pre-commit
black
flake8
exa_py
zhipuai
langchain_deepseek
markdownify
readabilipy
langchain_experimental
json_repair
duckduckgo-search
